<%= form_for(@post) do |post_form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved.</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= post_form.label :title %> <%= post_form.text_field :title %>
  </div>

  <div class="field">
    <%= post_form.label :content %><br />
    <%= post_form.text_area :content %>
  </div>

  <div class="field">
    <%= post_form.label :author, :class => 'author' %>: <%= post_form.text_field :author %>
  </div>

  <div class="actions">
    <%= post_form.submit %>
  </div>
<% end %>
