<h1>Listing posts</h1>

<ul>
  <% @posts.each do |post| %>
  <li>
    <p><%= link_to post.title, post %> <em>(<%= count_words(post) %> words)</em></p>
    <p><em>Posted by <%= post.author %>.</em>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </li>
  <% end %>
</ul>

<br />

<%= link_to 'New Post', new_post_path %>
