<p id="notice"><%= notice %></p>

<div id="body">
    <h1><%= link_to @post.title, @post, :rel => "permalink" %></a></h1>
    <div id="byline">
        Posted by: <span><%= @post.author %></span>
    </div>
    <div id="entry">
    <%= @post.content.html_safe %>
    </div>
</div>

<div id="comments">
    <h4>Comments</h4>
    <% @post.comments.each do |comment| %>
      <%= render :partial => 'comments/comment', :locals => { :comment => comment }  %>
    <% end %>


    <h4>Post a comment:</h4>
    <%= render 'comments/form' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
