<!DOCTYPE html>
<html>
<head>
  <title>Rails Blog with NoBrainer and RethinkDB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="body">
    <%= yield %>
</div>

</body>
</html>
